@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color1: #ededed;
    --color2: #1956a5;
    --color3: #111;

    --font1: 'Poppins';
    --font2: 'Inter';
    --font3: 'Lato';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font1);
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: center;
}

span{
    color: red;
}

img{
    display: block;
    width: 100%;
}

input, label{
    font-weight: 500;
    cursor: pointer;
}

textarea{
    width: 80%;
    height: 10rem;
    font-size: 1.7rem;
    resize: none;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

button{
    padding: .7rem 2.5rem;
    margin: 2.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

/* HEADER */
header{
    width: 100%;
    background: var(--color3);
    color: var(--color1);
    padding: 1rem;
}

header h1{
    font-size: 2.5rem;
}


/* MAIN */
main{
    padding: 2.5rem;
}

main h2{
    font-family: var(--font2);
    font-size: 2.7rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

main h2 span{
    color: var(--color2);
}

h3{
    font-weight: 500;
}

main p{
    font-size: 1.7rem;
}

/* FORM Q1 */
form .q{
    margin-top: 5rem;
}

form .q1 .websites{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 2.5rem 0;
}

form .q1 input, form .q1 label{
    padding: 2.5rem;
}

form .q1 .website{
    padding: 2.5rem;
    border: 1.2px solid var(--color3);
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}
form .q1 .website:hover{
    background: var(--color1);
}

.div{
    text-align: left;
    margin-bottom: 5rem;
}
.div p{
    margin-bottom: 1.5rem;
}
.div strong{
    font-weight: 500;
}

/* FORM Q5 */
form .q5 .logo-div{
    display: flex;
    justify-content: center;
}

form .logo-div div{
    margin: 1.5rem;
}

/* FORM Q6 */
form .q6 .content-div{
    display: flex;
    justify-content: center;
}

form .content-div div{
    margin: 1.5rem;
}

/* NAME AND EMAIL */
form .info{
    max-width: fit-content;
    margin-inline: auto;
    text-align: left;
    margin: 0 auto;
}

form .info input{
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
    width: 50rem;
    cursor: text;
}